<!DOCTYPE html> 
<html> 
<head> 
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="left-nav">
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/rules">Rules</a></li>
			<ul>
				<li><a href="/rules/upload">Upload</a></li>
			</ul>
			<li><a href="/data">Data Explorer</a></li>
			<li>GSN</li>
				<ul>
					<li><a href="/gsn/vsensor">Virtual Sensors</a></li>
				</ul>
			<li>Occurrence</li>
				<ul>
					<li><a href="/image/upload">Upload</a></li>
				</ul>
		</ul>
	</div>
