<!DOCTYPE html> 
<html> 
<head> 
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="left-nav">
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
	</div>
