<% include base.ejs %>
<div id="content">
    <input type="file" id="files" name="files[]" multiple />
    <output id="list"></output>
    <pre id="contents"></pre>
</div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <script>
      $(function() {
         $("#files").change(function (evt){
           var fileName = $(this).val();

          var files = evt.target.files; // FileList object
          // Loop through the FileList
          for (var i = 0, f; f = files[i]; i++) {

            var reader = new FileReader();
            var ext = f.name.split('.').pop();
              // Closure to capture the file information.
              reader.onload = (function(theFile) {
              return function(e) {
                  // Print the contents of the file
                  $("#contents").text(e.target.result);
                };
              })(f);  
            // Read in the file
            //reader.readAsDataText(f,"UTF-8");
            reader.readAsText(f);
          }
         });
       });
    </script>
</body>