<% include base.ejs %>
<div id="content">
    <div id="left-content">
      <button id="fire-engine">Fire!</button>
      <button id="load-dwc">Load Darwin Core</button>
      <hr/>
      <ul>
        <% for (var i in rules) { %> 
          <li class='file-link' id=<%= rules[i].id%> rel=<%= rules[i].path%>><%= rules[i].name %></br></li>
        <% } %>
      </ul>
    </div>
    <div id="right-content">
      <pre id="rule-text"></pre>
      <button id="add-rule" style="display: none;">Add to Drools</button>
      <button id="delete-rule" style="display: none;">Delete</button>
    </div>

</div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <script>
      $('#clear-engine').click(function() {
          $.post("http://localhost:8111/api/drools/stop",
          function(data) {
            console.log(data);
          }, "json");
      });
      
      $('#delete-rule').on("click", function() {
        console.log($(this).attr('rel'));
        $.ajax({
          type: "POST",
          url: "http://localhost:8000/api/rule/delete",
          data: {"file": $(this).attr('rel')},
          success: function(data) {
            alert(data);
            location.reload();
          },
          dataType: "json"
        });
      });

      $('#add-rule').on("click", function() {
        console.log($(this).attr('rel'));
        $(this).html("Added to Drools!");
        $.ajax({
          type: "POST",
          url: "http://localhost:8111/api/drools/add",
          data: {"file": $(this).attr('rel')},
          success: function(data) {
            alert(data);
          },
          dataType: "json"
        });
      });

      $('#fire-engine').click(function() {
        $.post("http://localhost:8111/api/drools/fire",
          function(data) {
            alert(data);
          }, "json");
      });

      $('#load-dwc').click(function() {
        $.post("http://localhost:8111/api/drools/load",
          function(data) {
            alert(data);
          }, "json");
      });
 
       $('.file-link').click(function() {
       var path =  $(this).attr('rel');
        $.post('/api/read', { "path": path }, function(data) {
          for(var i in data) {
            $("#rule-text").append(data[i] + '<br/>');
          }
          $('#add-rule').css('display', 'block');
          $("#add-rule").attr('rel', path);
          $('#delete-rule').css('display', 'block');
          $("#delete-rule").attr('rel', path);
        }, "json"); 
      });


    </script>
</body>