html, body
  font-family: 'Monda', sans-serif
  margin: 0 auto
  height: 100%
  background: #7E8F7C
  s
a
  color: #00B7FF
  text-decoration: none

 ul li
 	list-style-type: none

 .button
 	background: #C63D0F

 #left-nav
 	height: 100%
 	float:left
 	padding-right: 10px
 	background: #C63D0F
 	color: #FDF3E7
 	overflow: hidden

 #content
 	height: 100%
 	padding-top: 50px
 	padding-left: 10px
 	overflow: hidden