html,
body {
  font-family: 'Monda', sans-serif;
  margin: 0 auto;
  height: 100%;
  background: #7e8f7c;
}
a {
  color: #00b7ff;
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
.button {
  background: #c63d0f;
}
.img-ul {
  width: 100%;
}
.img-li {
  display: inline-block;
  list-style-type: none;
  width: 30%;
  opacity: 0.4;
}
.img-li:hover {
  width: 35%;
  opacity: 0.9;
}
.img-li img {
  width: 100%;
}
#left-nav {
  height: 100%;
  float: left;
  width: 15%;
  background: #c63d0f;
  color: #fdf3e7;
}
#content {
  height: 100%;
  width: 70%;
  float: left;
  padding-top: 50px;
  padding-left: 10px;
}
#left-content {
  height: 100%;
  float: left;
  padding-right: 10px;
}
#right-content {
  height: 100%;
  padding-left: 10px;
}
